<div class="jumbotron text-center">
	<h1>Adding New Speaking Postcard</h1>
</div>
<div style="max-width:60em;margin:0 auto;padding:0 1em;">
	<form action="{{ actionUrl }}" 	method="post" enctype="multipart/form-data">
		<fieldset class="form-group">
			<label for="image">Image:</label>
			<input id="image" type="file" class="form-control-file" name="img" accept="image/*" />
		</fieldset>
		<fieldset class="form-group">
			<textarea name="text" class="form-control" placeholder="This text will be transformed to speach..." rows="3"></textarea>
			<div class="text-right"><small><span style="color:red;">*</span> Please, use either English or Russian</small></div>
		</fieldset>
		<button type="submit" class="btn btn-primary btn-lg btn-block">Create</button>
	</form>
</div>
