<div style="position:absolute;left:0;right:0;top:0;bottom:0;background-color:black;background-image:url({{imageUrl}});background-position:center;background-repeat:no-repeat;min-height:666px;min-width:666px"></div>
<div style="position:fixed;bottom:0;right:0;left:0;padding:1em">
	<div class="row">
		<div class="col-sm-4 text-left">
			<!-- Left side controls -->
			<audio id="speach" controls autoplay loop src="{{audioUrl}}" type="audio/ogg"></audio>
		</div>
		<div class="col-sm-4 text-center">
			<!-- Center controls -->
			<a target="_blank" href="https://vk.com/share.php?url={{shareUrl}}"><img src="vk.png" alt="Share in VK" /></a>
			<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{shareUrl}}"><img src="fb.png" alt="Share on Facebook" /></a>
			<a target="_blank" href="https://twitter.com/home?status={{shareUrl}}"><img src="tw.png" alt="Share on Twitter" /></a>
			<a target="_blank" href="https://plus.google.com/share?url={{shareUrl}}"><img src="google.png" alt="Share on Google+" /></a>
		</div>
		<div class="col-sm-4 text-right">
			<!-- Right side controls -->
			<a href="#add" class="btn btn-success">Create Another Speaking Postcard</a>
		</div>
	</div>
</div>
